<!-- HEADER -->
<app-header></app-header>

<div class="content" role="main">
    <!-- PRACTICAS -->
    <h1>Hola Mundo!</h1>
    <h2>Soy Angel Cárdenas - M4A</h2>
    <p>Aqui estaran todas las practicas 🥵</p>
    <br>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/imgs/gtav.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/imgs/epic_bg.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/imgs/tom_raider.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <router-outlet></router-outlet>
</div>

<!-- MAIN -->
<app-footer></app-footer>